* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.items_stretch {
  align-items: stretch;
}

.flex-center {
  align-items: center;
}

.text_center {
  text-align: center;
}

.border-radius {
  border-radius: 50%;
}

.upper_case {
  text-transform: uppercase;
}

.margin_auto {
  margin: auto;
}

.text-dec {
  text-decoration: none;
}

.flex_nowrap {
  flex-wrap: nowrap;
}

.flex_end {
  align-items: flex-end;
}

.margin_right {
  margin-left: 25px;
}

.margin_x {
  margin: 0 auto;
}

.margin_y {
  margin: auto 0;
}

.z_index {
  z-index: 100;
}

.cover_image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../images/cover.png');
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.display_none {
  display: none;
}

.cover {
  flex-direction: column;
  align-items: center;
}

.width_70 {
  width: 70%;
}

.height_10 {
  height: 70%;
}

.border_none {
  border: none;
}

.border_left {
  border-left: 1px;
}

.border_radius_20 {
  border-radius: 30%;
}

.border_1 {
  border: 1px solid #888;
}
