/* For Desktop */
@media (min-width: 992.92px) {
  body {
    background-color: purple;
    color: white;
  }

  .flex-container {
    display: flex;
  }

  .flex-space-around {
    justify-content: space-around;
  }

  .margin_left {
    margin-left: 25px;
  }

  .input_search_position {
    left: 25%;
    bottom: 15%;
  }

  .font_large {
    font-size: 70px;
  }

  .flex_md {
    display: flex;
  }

  .max_width_hot_card {
    max-width: 70%;
  }
}

/* For Tablet */
@media (max-width: 992.92px) {
  body {
    background-color: blue;
    color: white;
  }

  .hidden-tablet {
    display: none;
  }

  .input_search_position {
    left: 25%;
    bottom: 15%;
  }

  .font_large {
    font-size: 50px;
  }
}

/* For Mobile */
@media (max-width: 767.92px) {
  body {
    background-color: brown;
    color: white;
  }

  .hidden-mobile {
    display: none;
  }

  .input_search_position {
    left: 28%;
    bottom: 15%;
  }

  .full-width {
    width: 95%;
  }

  .font_large {
    font-size: 35px;
  }

  .max_width {
    max-width: 300px;
  }

  .max_container {
    max-width: 38%;
  }

  .font_medium {
    font-size: 20px;
  }

  .font_small {
    font-size: 8px;
  }

  .image_width {
    width: 240px;
  }

  .image_height {
    height: 250px;
  }

  .contianer_height {
    height: 500px;
  }

  .image_width_small {
    width: auto;
  }

  .image_height_small {
    height: 130px;
  }
}
