/* For Desktop */
@media (min-width: 992.92px) {
  body {
    background-color: purple;
    color: white;
  }

  .flex-container {
    display: flex;
  }

  .flex-space-around {
    justify-content: space-around;
  }

  .margin_left {
    margin-left: 25px;
  }

  .input_search_position {
    left: 25%;
    bottom: 15%;
  }

  .margin_small_left {
    margin-left: 5px;
  }
}

/* For Tablet */
@media (max-width: 992.92px) {
  body {
    background-color: blue;
    color: white;
  }

  .hidden-tablet {
    display: none;
  }

  .input_search_position {
    left: 25%;
    bottom: 15%;
  }
}

/* For Mobile */
@media (max-width: 767.92px) {
  body {
    background-color: brown;
    color: white;
  }

  .hidden-mobile {
    display: none;
  }

  .input_search_position {
    left: 28%;
    bottom: 15%;
  }

  .full-width {
    width: 100%;
  }
}
